.box {
    width: 100px;
    height: 100px;
}

.parent {
    width: 600px;
    height: 600px;
    background-color: lightgray;
}

.child1 {
    background-color: red;
}

.child2 {
    background-color: yellow;
}

.child3 {
    background-color: blue;
}

.child4 {
    background-color: lime;
}

.child5 {
    background-color: purple;
}

.child6 {
    background-color: pink;
}