*{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.container{
    margin: 0 auto;
    width: 60%;
    background-color: blanchedalmond;
}

.top1{
    display: flex;
    justify-content: center;
}

.inform{
    display: flex;
    justify-content: center;
}

.content > nav > h4 {
    text-align: center;
}

.content > aside {
    text-align: center;
}

.foot{
    text-align: center;
}