.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
}

.item {
  padding: 20px;
  text-align: center;
}

.item1 {
  background-color: #ffcccc; /* 빨간색 */
  grid-column: 1 / 3;
}

.item2 {
  background-color: #ccffcc; /* 초록색 */
  grid-column: 3 / 5; 
}

.item3 {
  background-color: #ccccff; /* 파란색 */
  grid-column: 1 / 3;
}

.item4 {
  background-color: #ffffcc; /* 노란색 */
  grid-column: 3 / 5; 
}

.item5 {
  background-color: #ffccff; /* 보라색 */
  grid-column: 1 / 5;
}
